<% provide(:name, "Email Archive") %>
<h1>Grinnell CS Email Archive</h1>
<% @search = Message.search(params[:q]) %>
<%= search_form_for @search, url: messages_url do |f| %>

  <%= f.label :author %>
  <%= f.search_field :author_cont %>
  <br/>
  <%= f.label :subject %>
  <%= f.search_field :subject_cont %>
  <br/>
  <%= f.label :content %>
  <%= f.search_field :content_cont %>
  <br/>
  <%= f.label :date, "Date range (YYYY-MM-DD)" %>
  <%= f.search_field :created_at_gteq %>
  <%= f.search_field :created_at_lteq %>
  <br/>
  <%= f.submit 'Search', :class => 'search'%>
  <br/>
  <br/>
<% end %>
  
  
  </br>
  <h3>Tags</h3>

<% ActsAsTaggableOn::Tag.all.each do |tag|%>
  <%= link_to String(tag), messages_url << "?tag=" << String(tag), { :class=>"tags-home" } %>
<% end %>

</br>
  <hr style="border-top: 1px dotted #8c8b8b; margin-top:10px">

<body>
  <br>
  Email archive updates every hour. Emails do not contain attachments.
  <br>
  <br>
</body>

<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to root_path, class: 'login-button' do %>Go to Home<% end %>
<% end %>


<% if user_signed_in? %>
   Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
<% else %>
 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
 
<% end %>
