<% provide(:name, "Email Archive") %>
<h1>Email Archive</h1>
<% @search = Message.search(params[:q]) %>
<%= search_form_for @search, url: '/static_pages/search' do |f| %>

  <%= f.label :author %>
  <%= f.search_field :author_cont %>
  <br/>
  <%= f.label :subject %>
  <%= f.search_field :subject_cont %>
  <br/>
  <%= f.label :content %>
  <%= f.search_field :content_cont %>
  <br/>
  <%= f.submit %>
  <br/>
  <br/>
<% end %>

<p>Email archive updates every hour</p>
<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to root_path, class: 'login-button' do %>Go to Home<% end %>
<% end %>


<% if user_signed_in? %>
   Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
<% else %>
 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
 
<% end %>
