<% provide(:name, "Email Archive") %>
<h1>Email Archive</h1>

<%= form_tag(messages_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Message" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if !params[:search].nil? %>
  <% if @message.present? %>
    <%= render @message %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% end %>

<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to root_path, class: 'login-button' do %>Go to Home<% end %>
<% end %>


<% if user_signed_in? %>
   Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
<% else %>
 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
 
<% end %>
