<% provide(:name, "Email Archive") %>
<h1>Email Archive</h1>
<p>This will be an email archive for 
    <a href= "http://www.cs.grinnell.edu/~rebelsky/Courses/CSC322/2017S/"> CSC322</a>
</p>


<% if current_user.nil? %>
	<%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
<% else %>
	<%= link_to app_dashboard_index_path, class: 'login-button' do %>Go to App<% end %>
<% end %>


<% if user_signed_in? %>
 
  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
<% else %>
 
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>  
 
<% end %>