<% @results = Message.ransack(params[:q]).result %>
<% if @results.length <= 0 %>

  <div class="two">No results. Try searching for something else.</div>
  <%= link_to 'Home', root_path %>
<% else %>

<table>
  <thead>
    <tr>
      <th>Tags</th>
      <th>Author</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Time Created</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @results.each do |message| %>
      <tr>
        <td><%= message.tag_list%></td>
        <td><%= message.author %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= message.created_at %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Home', root_path %>

<% end %>