<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Tags</th>
      <th>Author</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Time Created</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% Message.all.each do |message| %>
      <tr>
        <td><%= message.tag_list%></td>
        <td><%= message.author %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= message.created_at %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', root_path %>
<%= link_to 'New Message', new_message_path %>
