<p id="notice"><%= notice %></p>

<h1 style="text-align:center;">E-Mails</h1>

<br/>
<!--setting up the format for message pages-->
<% Message.paginate(:page => params[:page], :per_page => 10).order('created_at DESC').each do |message| %> 
  <mcontainer>
    <h3 style="text-align:left;float:left;line-height:18px;"><%= message.subject %>  </h3>

    <br style="clear:both;"/>

    <div style="text-align:left;float:left;padding-bottom:8px"> <%= message.author %> </div>
    <span style="text-align:right;float:right;"><%= message.created_at %></span>

    <hr style="clear:both;"/>

    <scontainer>
      <%= trimContent(message.content) %>
    </scontainer>

    <div style="text-align:left;float:left;">
      <strong>Tags:</strong>
      <%= message.tag_list %>
    </div>
    <span style="text-align:right;float:right;">
      <%= link_to 'Show', message %>
    </span>
  </mcontainer>
  <br/>
  <br/>
<% end %>

<br>
<div class="apple_pagination">
 <%= will_paginate Message.paginate(:page => params[:page], :per_page => 10).order('created_at DESC')%>
</div>

<%= link_to 'Home', root_path %>
