<p id="notice"><%= notice %></p>

<h1>Messages</h1>


<% Message.all.each do |message| %>
  <mcontainer>
    <h3 style="text-align:left;float:left;"><%= message.subject %>  </h3>
    <span style="text-align:right;float:right;"><%= message.created_at %></span>

    <br style="clear:both;"/>

    <strong style="text-align:left;float:left;padding-bottom:8px"> <%= message.author %> </strong>

    <hr style="clear:both;"/>

    <scontainer>
      <%= trimContent(message.content) %>
    </scontainer>

    <div style="text-align:left;float:left;">
      <strong>Tags:</strong>
      <%= message.tag_list %>
    </div>
    <span style="text-align:right;float:right;">
      <%= link_to 'Show', message %>
    </span>
  </mcontainer>
  <br/>
<% end %>

<br>

<%= link_to 'New Message', new_message_path %>
