<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <%= @message.tag_list %>
</p>

<p>
  <strong>Author:</strong>
  <%= @message.author %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Time Created:</strong>
  <%= @message.created_at %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
