<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:name)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%=render 'layouts/flash_alerts' %>
    </div>
  </body>
</html>

